hydra-core==1.3.2
ipykernel==6.26.0
ipython==8.17.2
matplotlib-inline==0.1.6
numpy==1.26.1
omegaconf==2.3.0
packaging==23.2
pandas==2.1.2
PyYAML==6.0.1
safetensors==0.4.0
scikit-learn==1.3.2
scipy==1.11.3
tokenizers==0.14.1
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
tqdm==4.66.1
transformers==4.36.0